body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.ui.card:first-child{
  margin-top: 1em !important;
}
.ui.card > .image {
  min-height: 50px;
}
.ui.card > .image::before {
  content: ' ';
  display: block;
  background-color: rgb(230, 230, 230);
  width: 290px;
  height: 220px;
  border-radius: 5px;
  border: 2px dotted rgb(200, 200, 200);
}
